@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 15, 23, 42;
  --background-secondary: 33, 40, 51;

  --primary-message: 0, 137, 252;
  --secondary-message: 56, 59, 64;

  --primary-text: 226, 232, 240, 0.906;
  --secondary-text: 82, 82, 91, 0.871;

  --border: #948c8c;

  --input: transparent;
  --input-text: 189, 189, 189;

  --primary-btn: 101, 163, 13;
  --primary-btn-text: 212, 209, 206;

  --secondary-btn: 0, 137, 252;
  --secondary-btn-text: 189, 189, 189;

  --gradient-text: 255, 0, 0;
}

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: full;
  height: full;
  overflow: hidden;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.get-started {
  /* background: linear-gradient(30deg, #751386, #5b7fb2); */
}
.text-gradient {
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #6ccf56 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
