@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Input Mono";
  width: full;
  height: full;
  /* background-color: #a1a1aa; */
}
