@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #28292d;

  --primary-message: #0089fc;
  --secondary-message: #383b40;

  --primary-text: #d4d1ce;
  --secondary-text: #505153;

  --border: #948c8c;

  --input: transparent;
  --input-text: rgb(189, 189, 189);

  --primary-btn: #383b40;
  --primary-btn-text: #d4d1ce;
}

html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Input Mono";
  width: full;
  height: full;
  overflow: hidden;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
